  .wrapper {
    position: "relative";
    paddingBottom: "56.25%"; /* 16:9 aspect ratio */
    height: 0;
    overflow: "hidden";
    width: "100%";
    background: "#000";
  }
  .iframemap {
    position: "absolute";
    top: 0;
    left: 0;
    width: "100%";
    height: "100%";
    border: "0";
  }
  
